<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Love_and_Hate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PlayerMergeBtn" value="b" />
    <add key="PlayerBreakMergeBtn" value="x" />
    
    <add key="PlayerSpeed"     value="10" />
    <add key="PlayerFrameRate" value="15" />
    <add key="PlayerBoundingRadius" value="35" />
    
    <add key="Friction" value="0.90"/>
    <add key="MaxEnemies" value="10"/>
    
    <add key="ScreenWidth" value="1280" />
    <add key="ScreenHeight" value="800" />

    <add key="TimeLimit" value="90" />
  </appSettings>
  <userSettings>
    <Love_and_Hate.Properties.Settings>
      <setting name="PlayerMergeBtn" serializeAs="String">
        <value>b</value>
      </setting>
    </Love_and_Hate.Properties.Settings>
  </userSettings>
</configuration>