<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PlayerMergeBtn" value="b" />
    <add key="PlayerSpeed" value="10" />
    <add key="PlayerBoundingRadius" value="35" />
    
    <add key="Friction" value="0.90"/>
    <add key="MaxEnemies" value="10"/>
    
    <add key="ScreenWidth" value="1024" />
    <add key="ScreenHeight" value="768" />
  </appSettings>
</configuration>