<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PlayerMergeBtn" value="b" />
    <add key="PlayerBreakMergeBtn" value="x" />
    
    <add key="PlayerSpeed"     value="10" />
    <add key="PlayerFrameRate" value="15" />
    <add key="PlayerBoundingRadius" value="35" />
    
    <add key="Friction" value="0.90"/>
    <add key="MaxEnemies" value="2"/>
    
    <add key="ScreenWidth" value="1280" />
    <add key="ScreenHeight" value="800" />

    <add key="TimeLimit" value="90" />
  </appSettings>
</configuration>